<% time_logger = IssueTimer.find_by_user_id(User.current) %>
<% if !time_logger.nil? %>
    <% if time_logger.paused %>
        <%# A time tracker is in pause, display the tracked issue, the time spent and the resume/stop actions %>
     
        <%= link_to ' #' + time_logger.issue_id.to_s + " / #{time_logger.time_spent_to_s} /",
                    {:controller => '/issues', :action => 'show', :id => time_logger.issue_id},
                    {:class => 'icon icon-pause'}
        %>
        <%= link_to '',
                    {:controller => '/issue_timers', :action => 'resume'},
                    :class => 'icon-action icon-start-action',
                    :title => 'Продолжить',
                    :"data-replace" => '#time-logger-menu',
                    :remote => true
        %>
        <%= link_to '',
                    {:controller => '/issue_timers', :action => 'stop'},
                    {:class => 'icon-action icon-stop-action',
                    :title => 'Остановить'}
        %>
    
    <% else %>
        <%# A time tracker is running, display the tracked issue, the time spent and the suspend/stop actions %>
    
        <%= link_to ' #' + time_logger.issue_id.to_s + " / #{time_logger.time_spent_to_s} /",
                    {:controller => '/issues', :action => 'show', :id => time_logger.issue_id},
                    {:class => 'icon-action icon-clock'}
        %>
        <%= link_to '',
                    {:controller => '/issue_timers', :action => 'suspend'},
                    :class => 'icon-action icon-pause-action',
                    :title => 'Пауза',
                    :"data-replace" => '#time-logger-menu',
                    :remote => true
        %>
        <%= link_to '',
                    {:controller => '/issue_timers', :action => 'stop'},
                    {:class => 'icon-action icon-stop-action', :title => 'Остановить'}
        %>
    <% end %>
<% elsif !@project.nil? and User.current.allowed_to?(:log_time, @project) and !(@issue.nil? || @issue.new_record?) %>
    <%# No time tracker is running, but the user look at an issue and he has the rights to track time on it %>
    <%# Display the start time tracker action on this issue %>
    <%= link_to 'Начать' + ' #' + @issue.id.to_s + ' ',
                {:controller => '/issue_timers', :action => 'start', :issue_id => @issue.id},
                :class => 'icon icon-start',
                :"data-replace" => '#time-logger-menu',
                :remote => true
    %>
<% else %>
    <%# No time tracker is running but the user has the rights to track time on a project %>
    <%# Display the "Not running" entry %>
    <span class='icon icon-time'><%= 'Таймер не запущен' %>&nbsp;</span>
<% end %>

<% if User.current.allowed_to?(:log_time, nil, :global => true) or User.current.allowed_to?(:view_others_issue_timers, nil, :global => true) %>
    <span>
        <%= link_to '',
                    {:controller => '/issue_timers', :action => 'index'},
                    {:class => 'icon-action icon-list-action', :title => 'Список таймеров'}
        %>
    </span>
<% end %>
